table {
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid darkgray;
    padding: 3px 10px
}

#gallery_table {
    margin: auto;
}

#details_table {
    margin: auto;
}
#details_table th {
    width: 20%;
    text-align: right;
}

td.actions{
    text-align: center;
}
body{
    text-align: center;
    background-color: #eee;
    font-family: sans-serif;
}

form, .box {
    width: 30%;
    margin: auto;
    text-align: left;
    border-radius: 15px;
    border: 2px solid gray;
    padding: 40px;
    background-color: lightgray;
}

.box{
    width: 70%;
    text-align: center;
}

input, button, textarea{
    font-size: 1.2em;
}

form input, form textarea, form button {
    width: 100%;
}

form button, form input[type=submit]{
    width: 49.4%;
    margin: 0;
}

form label {
    margin: 20px 5px;
    position: relative;
    top: -5px;
    font-size: 1.4em;
}